@using JassApp.Domain.Coiffeur.Models
@using JassApp.Presentation.Areas.Coiffeur.RunningGame.Runde
@using JassApp.Presentation.Areas.Coiffeur.RunningGame.Totals
@using JassApp.Presentation.Shared.Voice
@using MudBlazor
<MudPaper Class="pa-4">
    <p>
        Test124
    </p>
    <MudTable CustomFooter="true" FixedHeader="true" FixedFooter="true" Items="@Spielrunde.Trumpfrunden" Dense="true" Bordered="true" Hover="false" Elevation="0" Class="w-100">
        <HeaderContent>
            <MudTh style="width:100px;">
                <div style="display:flex; align-items:center; gap:4px;">
                    @Spielrunde.PunktwertDescription
                    <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive"
                             Color="DirtyColor"
                             Size="Size.Small"/>
                </div>
            </MudTh>
            <MudTh colspan="2" align="center">
                <TeamDetails OnOpenTruempfeRequested="() => SayOpenTruempfeAsync(JassTeamTyp.Team1)"
                             TeamDescription="@Spielrunde.GetTeamDescription(JassTeamTyp.Team1)"/>
            </MudTh>
            <MudTh colspan="2" align="center">
                <TeamDetails
                    OnOpenTruempfeRequested="() => SayOpenTruempfeAsync(JassTeamTyp.Team2)"
                    TeamDescription="@Spielrunde.GetTeamDescription(JassTeamTyp.Team2)"/>
            </MudTh>
        </HeaderContent>

        <RowTemplate Context="r">
            <TrumpfRundeDisplay OnValueChanged="HandleValueChanged"
                                CoiffeurTrumpfrunde="r">
            </TrumpfRundeDisplay>
        </RowTemplate>

        <FooterContent>
            <TotalMaetsche Spielrunde="@Spielrunde"></TotalMaetsche>
            <TotalPunkte Spielrunde="@Spielrunde"></TotalPunkte>
        </FooterContent>
    </MudTable>
</MudPaper>

<Voice @ref="VoiceRef"></Voice>